<!DOCTYPE html>
<html lang="pt">

<head>
    <% include ../views/template/head %>
    <% include ../views/template/css %>
</head>

<body>
    <div class="container-fluid m-0 p-0">

        <% include ../views/template/nav %>

        <div class="container mt-5">

            <h2 class="mb-5">Buscar Planeta</h2>

            <h5>Por Nome</h5>
            <form class="form-row mb-2" action="/buscar/nome" method="POST">
                <div class="col">
                    <input type="text" class="form-control mb-3" placeholder="Digite um nome válido" name="nome"
                        required>
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-primary px-4">Buscar</button>
                </div>
            </form>

            <h5>Por Id</h5>
            <form class="form-row" action="/buscar/id" method="POST">
                <div class="col">
                    <input type="text" class="form-control mb-3" placeholder="Digite um id válido" name="id" required>
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-primary px-4">Buscar</button>
                </div>
            </form>
        </div>
</body>

</html>