<!DOCTYPE html>
<html lang="pt">

<head>
    <% include ../views/template/head %>
    <% include ../views/template/css %>
</head>

<body>
    <div class="container-fluid m-0 p-0">

        <% include ../views/template/nav %>

        <div class="container mt-5 w-50">
            <h2 class="mb-4">Adicionar Planeta</h2>
            <form class="p-3" action="/adicionar" method="POST">
                <div class="row">
                    <label>Nome</label>
                    <input type="text" class="form-control mb-3" name="nome" required>

                    <label>Clima</label>
                    <input type="text" class="form-control mb-3" name="clima" required>

                    <label>Terreno</label>
                    <input type="text" class="form-control mb-3" name="terreno" required>

                    <label>Aparições em filmes</label>
                    <input type="number" min="0" class="form-control mb-4" name="aparicoes" placeholder="Digite um número"
                        required>
                </div>
                <div class="row float-right">
                    <button type="submit" class="btn btn-success px-4">Adicionar</button>
                </div>
            </form>
        </div>
</body>

</html>