<!DOCTYPE html>
<html lang="pt">

<head>
    <% include ../views/template/head %>
    <% include ../views/template/css %>
</head>

<body>
    <div class="container-fluid m-0 p-0">

        <% include ../views/template/nav %>

        <div class="container mt-5">
        </div>
</body>

</html>