<!DOCTYPE html>
<html lang="pt">

<head>
    <% include ../views/template/head %>
    <% include ../views/template/css %>
</head>

<body>
    <div class="container-fluid m-0 p-0">

        <% include ../views/template/nav %>

        <div class="container mt-5">
            <h2 class="mb-4">Resultado</h2>

            <div class="alert alert-danger text-center" role="alert">
                <strong>
                    <%= data %>
                </strong>
                não foi encontrado!<br>
                Realize uma nova <a class="alert-link" href="/buscar">busca</a>.
            </div>
        </div>
</body>

</html>