<!DOCTYPE html>
<html lang="pt">

<head>
    <% include ../views/template/head %>
    <% include ../views/template/css %>
</head>

<body>
    <div class="container-fluid m-0 p-0">

        <% include ../views/template/nav %>

        <div class="container mt-5">

            <h2 class="mb-4 w-50">Lista de Planetas</h2>

            <textarea class="w-100 p-3" rows="15">
<%= data %>
                </textarea>

            <button type="button" class="btn btn-success mt-3 px-3 float-right">
                <a class="text-white" href="/">
                    Adicionar
                </a>
            </button>

            <button type="button" class="btn btn-danger mt-3 mr-2 float-right">
                <a class="text-white" href="/remover">
                    Remover
                </a>
            </button>

        </div>
</body>

</html>