<!DOCTYPE html>
<html lang="pt">

<head>
    <% include ../views/template/head %>
    <% include ../views/template/css %>
</head>

<body>
    <div class="container-fluid m-0 p-0">

        <% include ../views/template/nav %>

        <div class="container mt-5">
            <h2 class="mb-4">Remover Planeta</h2>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="w-50" scope="col">Id</th>
                        <th class="w-50" scope="col">Nome</th>
                        <th class="w-50" scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <% data.forEach(details => { %>
                    <tr>
                        <td>
                            <%= details._id %>
                        </td>
                        <td>
                            <%= details.nome %>
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger">
                                <a class="text-white" href="/remover/<%= details._id %>">
                                    Remover
                                </a>
                            </button>
                        </td>
                    </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
</body>

</html>