<!DOCTYPE html>
<html lang="pt">

<head>
    <% include ../views/template/head %>
    <% include ../views/template/css %>
</head>

<body>
    <div class="container-fluid m-0 p-0">

        <% include ../views/template/nav %>

        <div class="container mt-5">
            <h2 class="mb-4">Resultado</h2>

            <%if (data.length > 0) { %>
            <textarea class="w-100 p-3" rows="15">
<%= data %>
            </textarea>
            <% } %>
            <button type="button" class="btn btn-primary mt-3 float-right">
                <a class="text-white" href="/buscar">
                    Buscar
                </a>
            </button>
        </div>
</body>

</html>